AppTestTool/obj/
DataCollector/obj/ 
CommodityPredictor/obj/ 
BaseEntity/obj/
BaseEntity/bin/ 
 
/DataCollector/obj/Debug/.gitignore
/DataCollector/obj/Debug/TempPE/.gitignore
/DataCollector/obj/x86/Debug/.gitignore
/DataCollector/obj/x86/Debug/TempPE/.gitignore
/DataCollector/bin/x86/Debug/DataCollector.exe
/DataCollector/bin/x86/Debug/DataCollector.exe.config
/DataCollector/bin/x86/Debug/DataCollector.pdb
/CommodityPredictor/obj/Debug/CommodityPredictor.PError.resources
/CommodityPredictor/obj/Debug/CommodityPredictor.Properties.Resources.resources
/CommodityPredictor/obj/Debug/CommodityPredictor.WinMarketPredictor.resources
/CommodityPredictor/obj/Debug/CommodityPredictor.csproj.FileListAbsolute.txt
/CommodityPredictor/obj/Debug/CommodityPredictor.csproj.GenerateResource.Cache
/CommodityPredictor/obj/Debug/CommodityPredictor.csproj.ResolveComReference.cache
/CommodityPredictor/obj/Debug/CommodityPredictor.csprojResolveAssemblyReference.cache
/CommodityPredictor/obj/Debug/CommodityPredictor.exe
/CommodityPredictor/obj/Debug/CommodityPredictor.pdb
/CommodityPredictor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CommodityPredictor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.ANFISWinFinancialMarketPredictor.resources
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.PError.resources
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.Properties.Resources.resources
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.WinFinancialMarketPredictor.resources
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.csproj.FileListAbsolute.txt
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.csproj.GenerateResource.Cache
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.csproj.ResolveComReference.cache
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.csprojResolveAssemblyReference.cache
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.exe
/CommodityPredictor/obj/Debug/FinancialMarketPredictor.pdb
/CommodityPredictor/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.PError.resources
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.Properties.Resources.resources
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.WinFinancialMarketPredictor.resources
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.WinMarketPredictor.resources
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.csproj.FileListAbsolute.txt
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.csproj.GenerateResource.Cache
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.csproj.ResolveComReference.cache
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.csprojResolveAssemblyReference.cache
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.exe
/CommodityPredictor/obj/x86/Debug/CommodityPredictor.pdb
/CommodityPredictor/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/CommodityPredictor/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.Properties.Resources.resources
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.csproj.FileListAbsolute.txt
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.csproj.GenerateResource.Cache
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.csproj.ResolveComReference.cache
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.csprojResolveAssemblyReference.cache
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.exe
/CommodityPredictor/obj/x86/Debug/FinancialMarketPredictor.pdb
/CommodityPredictor/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/%APPDATA%/Microsoft/Windows/History/History.IE5/MSHist012014080320140804/*.dat
/%APPDATA%/Microsoft/Windows/History/History.IE5/MSHist012014080820140809/*.dat
